name: Build Gradle project

on:
  push:

env:
  DEVELOCITY_ACCESS_KEY: ${{ secrets.DEVELOCITY_ACCESS_KEY }}

jobs:
  build:
    runs-on: macos-14

    steps:
      - name: Checkout project sources
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          distribution: microsoft # Because that's what is available on ARM windows; 'zulu' would also be an option.
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - run: ./gradlew assemble

      - name: Upload library
        uses: actions/upload-artifact@v5
        with:
          name: library
          path: build/libs/
          if-no-files-found: error

  test:
    strategy:
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-latest
          - macos-13
          - macos-latest
          - windows-2022
          - windows-latest
          - windows-11-arm
          - alpine
        include:
          - os: alpine
            container: eclipse-temurin:17-alpine
      fail-fast: false
    runs-on: ${{ matrix.os == 'alpine' && 'ubuntu-latest' || matrix.os }}
    container: ${{ matrix.container }}

    needs: build

    steps:
      - name: Checkout project sources
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK
        if: matrix.os != 'alpine'
        uses: actions/setup-java@v5
        with:
          distribution: microsoft # Because that's what is available on ARM windows; 'zulu' would also be an option.
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Download library
        uses: actions/download-artifact@v6
        with:
          name: library
          path: build/remote/

      - name: Test
        run: |
          ./gradlew externalTest

      - name: Upload build reports
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: test-reports-${{ matrix.os }}
          path: build/reports/
